*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body{
    height: 100vh;
    position:relative;
    z-index: -1;

}
.container{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
h1{
    color:red;
    margin: 20px;
    padding:5px;
}
.button-group{
    display: flex;
    justify-content: space-around;
}
.btn{
    border: none;
    width: 90px;
    height: 30px;
    border-radius: 5px;
    color:white
}

.btn-green{
    background-color: green;
}
.btn-red{
    background-color: red;
}
.bghover{
    background-color:black;
    opacity: 0.5;
    z-index: 100;
}
.progress-wrapper{
    height: 10px;
    width: 100%;
    background-color: yellow;
    margin-bottom: 30px;
}
.progress{
    height: 10px;
    width: 100%;
    background-color: red;
    margin:1px;
    animation: loading 5s 1 linear;
}
@keyframes loading {
    0%   {width: 0%;}
    100%{width: 100%;}
  }
